<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"/>
    <title>MIC</title>
</head>
<body>
    <div class="home-container">
        <div class="header">
            <div class="left">
                <h1>Intelli Bots</h1>
            </div>
            <div class="right">
                <p>Home</p>
                <p>Contact us</p>
                <p>About us</p>
            </div>
        </div>
        <div class="body inputs">
            <p>Upload your resume for the Mock Interview</p>
            <form action="{{ url_for('resume') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</body>
</html>